body {
	margin: 5px 0 0 5px;
	line-height: 1.35;
	font-size: 15px;
	background-color: #e4e4e4;
}

img {
	height: 20px;
	margin-right: 1px;
}

.mytable {
	width: 100%;
}

.home {
	background-color: #fff;
}

.postponed {
	background-color: red;
}

.first {
	border-left: 1px dashed black;
}

.back {
	border-left: 1px solid black;
}

.last {
	border-right: 1px dashed black;
}